body, html{
    border: none;
    margin: 0;
    padding: 0;
}

.container{
    background: #aaf;
}

ul{
    padding-left: 15px;
}
ul li {
    list-style: none;
}

#logo{
    margin: 0;
    padding: 0;
    border: none;
}

.header-logo{
    border-radius: 60px;
    overflow: hidden;
    width: 72px;
    height: 72px;
    position: relative;
    margin: 0;
    padding: 0;
}

table, table tbody td, table tbody tr{
    /*border: 1px solid black;*/
}
table thead th{
    padding: 1px 5px;
    text-align: center;
}

table tbody td{
    padding: 2px 5px;
    text-align: left;
}


table.style, table.style tbody td, table.style tbody tr{
    border: 1px solid black;
    
}

select option{
    text-transform: capitalize;
}