body, html{
    border: none;
    margin: 0;
    padding: 0;
}

.container{
    background: #aaf;
}

ul{
    padding-left: 15px;
}
ul li {
    list-style: none;
}

#logo{
    margin: 0;
    padding: 0;
    border: none;
}

.header-logo{
    border-radius: 60px;
    overflow: hidden;
    width: 72px;
    height: 72px;
    position: relative;
    margin: 0;
    padding: 0;
}

table, table tbody td, table tbody tr{
    /*border: 1px solid black;*/
}
table thead th{
    padding: 1px 5px;
    text-align: center;
}

table tbody td{
    padding: 2px 5px;
    text-align: left;
}


table.style, table.style tbody td, table.style tbody tr, table.style thead tr, table.style thead tr th{
    border: 1px solid black;
    
}

select option{
    text-transform: capitalize;
}

.tiny {
    font-size: 9px;
}

table.custom_table tbody tr:hover{
    background: none;
}

thead tr th {
    background-color: #428BCA;
    color: #efe;
    text-align: center;
}

table.custom_table {
    border: 1px solid black;
    border-collapse: collapse;
}
table.custom_table td, table.custom_table th {
    border: 1px solid;
    border-color: transparent;
    padding: 3px 10px;
}